* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 36px;
}

.container {
    width: 70%;
    height: auto;
    margin: 50px auto;
    padding: 25px;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 10px 10px 10px rgb(143, 143, 143);
}

h1 {
    font-weight: bold;
    margin-bottom: 15px;
}

.cabecera p {
    color: blueviolet;
}